.DS_Store
__pycache__/
*.py[cod]

.venv/
.vscode/

mechanistic_engine_output/.DS_Store
mechanistic_engine_output/cache/
mechanistic_engine_output/models/
mechanistic_engine_output/*.log
mechanistic_engine_output/data/raw_trials.json

*.log
.ipynb_checkpoints/
